
<app-frontend-header></app-frontend-header>
<!-- bradcam_area  -->
<div class="myh">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="text-center">
          <h3 style="font-size: 21px;">About Project</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ bradcam_area  -->

<!-- Start Sample Area -->
<section class="sample-text-area">
<div class="container box_1170">
<h3 class="text-heading">About Hotel Booking App</h3>
<p class="sample-text">
  We make use of innovative measures to back our approach to streamline the online venue booking process and make it simpler and easier for our customers. 
  Our easy yet intuitive online venue booking mechanism, which is crafted especially for the convenience of people living in Delhi NCR, Gurgaon, Noida Faridabad, and Ghaziabad, makes online venue booking much simpler and faster than its counterpart- offline booking. 
  At VenueMonk, we have a wide range of exclusive Wedding Venues, Wedding Reception Venues, Engagement Venues, Pre-Wedding Party Venues, Birthday Party Venues, Kids Party Venues, First Birthday Party Venues, Corporate Party Venues, Corporate Event Venues, Conference Venues, Bachelor Party Venues, Business Meeting Venues, Business Dinner Venues, Exhibition Venues etc. 
  At VenueMonk, we have a wide range of venue categories like Banquet Hall, Farm Houses, Lawns, Restaurants, Clubs, Bars, Meeting Rooms, Conference Rooms, Pool-Side Venues, Rooftop Venues, and more for every type of celebration. 
  People can now book the best venues in their city with just a few clicks through VenueMonk. We look forward to raising the bar for online venue booking in Delhi NCR, Gurgaon, Noida, Faridabad, and Ghaziabad by providing necessary features to our customers like prompt customer services, faster bookings, and online payments. We are very keen on providing our customers with the best venues for their events. 
  When it comes to quality and service of the venues or vendors, we never compromise on it. 
  Moreover, we offer accurate and updated descriptions and transparent pricing for all our venues so that our customers get a clarity of the venue they are booking.
</p>
</div>
</section>
<!-- End Sample Area -->
<app-frontend-footer></app-frontend-footer>